<header>

  <!-- Main -->
  <div class="view-sub-header intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <br>
          <br>
          <br>
          <br>
          <h1 style="text-shadow: 0 0 0.2em #343a40">ฝ่ายจัดสรรน้ำ ส่วนบริหารจัดการน้ำ</h1>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->
                
