.view-sub-header {
    background: url("img/sub-header.jpg")no-repeat center center;
    background-size: cover;
    height: 30vh;
}

.rgba-purple-light{
    height: 30vh;
}
.btn-location{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}