<!-- <app-log-in></app-log-in> -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false" *ngIf="!isOn">
        <!-- class ที่ลบอก  intro-fixed-nav top-nav-collapse  -->
        <logo>
          <a class="logo navbar-brand" href="#">
            <strong>จัดสรรน้ำ</strong>
          </a>
        </logo>
        <links>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                หน้าแรก
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu" style="min-width: 11rem">
                <a class="dropdown-item" href="#">คาดการณ์สถานการณ์น้ำ</a>
                <a class="dropdown-item" href="#">เอกสาร</a>
                <a class="dropdown-item" href="#">bulletin</a>
                <a class="dropdown-item" href="#">แผนการจัดสรรน้ำ</a>
                <a class="dropdown-item" href="#">แผนการป้องกัน</a>
              </div>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" href="http://water.rid.go.th/hydhome/ma/book-hyd.html" target="_blank">หนังสือเวียน สบอ.</a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                คำรับรองการปฏิบัติราชการ
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu" style="min-width: 11rem">
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-55.php" target="_blank">ปี 2555</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-56.php" target="_blank">ปี 2556</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-57.php" target="_blank">ปี 2557</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-58.php" target="_blank">ปี 2558</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-59.php" target="_blank">ปี 2559</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-60.php" target="_blank">ปี 2560</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-61.php" target="_blank">ปี 2561</a>
              </div>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/to-about-us" routerLinkActive="active">เกี่ยวกับหน่วยงาน</a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                หน่วยงานที่เกี่ยวข้อง
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu" style="min-width: 15rem">
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-55.php" target="_blank">กรมชลประทาน</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-56.php" target="_blank">สำนักบริหารจัดการน้ำและอุทกวิทยา</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-57.php" target="_blank">ศูนย์ประมวลวิเคราะห์สถานการณ์น้ำ</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-58.php" target="_blank">ส่วนอุทกวิทยา</a>
              </div>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
              <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                หน่วยงานภายนอก
              </a>
              <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu" style="min-width: 32rem">
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-55.php" target="_blank">กรมทรัพยากรธรณี</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-56.php" target="_blank">กรมทรัพยากรน้ำ</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-57.php" target="_blank">กรมอุตุนิยมวิทยา</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-58.php" target="_blank">กระทรวงเกษตรและสหกรณ์</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-59.php" target="_blank">คลังข้อมูลน้ำและภูมิอากาศแห่งชาติ</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-60.php" target="_blank">ศูนย์เตือนภัยพิบัติแห่งชาติ</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-61.php" target="_blank">ศูนย์ติดตามน้ำสถานการณ์ กฟผ.</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-61.php" target="_blank">สำนักงานพัฒนาเทคโนโลยีอวกาศและภูมิสารสนเทศ(องค์การมหาชน)</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-61.php" target="_blank">ระบบการติดตามสถานการณ์การเพาะปลูกข้าวของประเทศไทยจากข้อมูลดาวเทียม</a>
                <a class="dropdown-item" href="http://water.rid.go.th/hydhome/hydrology/guarantee-61.php" target="_blank">ระบบการติดตามสถานการณ์น้ำท่วมของประเทศไทยจากข้อมูลดาวเทียม</a>
              </div>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/to-contract-us" routerLinkActive="active">ติดต่อเรา</a>
            </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-user" mdbTooltip="Admin" (click)="isOn == true" routerLink="/to-login" routerLinkActive="active" placement="left"></i></a>
            </li>
        </ul>
        </links>
      </mdb-navbar>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->