<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 col-xl-5 pb-3">
      <!--Featured image-->
      <div class="view-segment overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <!-- <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing"
          class="img-fluid"> -->
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 col-xl-7">
      <!--Excerpt-->
      <h3 class="mb-4 font-weight-bold dark-grey-text">
        <strong>การคาดการณ์สถานการณ์น้ำ ในอ่างเก็บน้ำขนาดใหญ่</strong>
      </h3>
      <p>โปรแกรมสั่งการและจัดการ การทำงานของโปรแกรมประเมินสภาพน้ำในอ่างเก็บน้ำ<br>(Reservoir Operation Simulation System Commander
        and Management Tool Program)<br>หรือเรียกชื่อย่อว่า ROS Tool เป็นโปรแกรมสำเร็จรูปที่ถูกพัฒนาขึ้นมาใหม่<br>โดยสำนักวิจัยและพัฒนาร่วมกับสำนักบริหารจัดการน้ำและอุทกวิทยา
        ใช้โปรแกรมภาษา Visual Basic 6.0<br>ทำงานบนระบบปฏิบัติการ Windows 7 เพื่อใช้สั่งให้ “โปรแกรมชุดคำสั่งและฟังก์ชั่น (Reservoir
        Operation Simulation) เรียกชื่อย่อว่า ROS”</p>
      <a class="btn btn-success btn-md mb-3 waves-light" mdbWavesEffect>การคาดการณ์น้ำในอ่างเก็บน้ำขนาดใหญ่ 35 อ่าง ปี 2561</a>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  
</section>
<!--Section: Blog v.1-->