<!--Main Layout-->
<main class="text-left py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <img src="img/rid.png" class="img-fluid" alt="Responsive image">

      </div>
      <div class="col-md-9">

        <h2 class="font-weight-normal">การคาดการณ์สถานการณ์น้ำ ในอ่างเก็บน้ำขนาดใหญ่
        </h2>
        <p class="font-weight-normal">โปรแกรมสั่งการและจัดการ การทำงานของโปรแกรมประเมินสภาพน้ำในอ่างเก็บน้ำ (Reservoir Operation Simulation System Commander
          and Management Tool Program) หรือเรียกชื่อย่อว่า ROS Tool เป็นโปรแกรมสำเร็จรูปที่ถูกพัฒนาขึ้นมาใหม่ โดยสำนักวิจัยและพัฒนาร่วมกับสำนักบริหารจัดการน้ำและอุทกวิทยา
          ใช้โปรแกรมภาษา Visual Basic 6.0 ทำงานบนระบบปฏิบัติการ Windows 7 เพื่อใช้สั่งให้ “โปรแกรมชุดคำสั่งและฟังก์ชั่น (Reservoir
          Operation Simulation) เรียกชื่อย่อว่า ROS”</p>
        <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>การคาดการณ์น้ำในอ่างเก็บน้ำขนาดใหญ่ 35 อ่าง ปี 2561</button>
      </div>
    </div>
  </div>

</main>
<!--Main Layout-->