.img-speculate{
    background: url("img/forcast.jpg")no-repeat center center;
}

.view-segment {
    background: url("img/forcast.jpg")no-repeat center center;
    background-size: cover;
    height: 60vh;
}