.view {
    background: url("img/auroraningaloo-998x405.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
        background: #4285F4;
    }
}

.img-fluid{
    max-width: 100%; 
    height: auto;
}